.button {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	--size: 18px;
	border: 1px solid currentColor;
	color: var(--color-blue);
	border-radius: 4px;
	padding: 0 12px;
	min-height: var(--button-height);
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.1px;

	&--filled {
		background-color: var(--color-blue);
		color: #fff;
	}

	&--grey {
		color: var(--color-black);
		border-color: var(--color-grey1);
	}

	&--high {
		min-height: var(--button-height--high);
		font-size: 16px;
	}
}