.buttongroup {
	display: flex;
	color: #fff;

	&--light {
		color: var(--color-black);
	}

	&--wide &__button {
		padding: 0 16px;
	}

	&--high &__button {
		padding: 10px 16px;
		height: auto;
		font-size: 18px;
	}

	&--medium &__button {
		height: var(--button-height--high);
	}

	&__button {
		display: flex;
		align-items: center;
		gap: 5px;
		border-color: var(--color-grey2);
		border-style: solid;
		border-width: 1px;
		--size: 24px;
		cursor: pointer;
		height: var(--button-height);
		padding: 0 8px;
		font-size: 14px;
		font-weight: 400;
		line-height: 133%;

		&.is-active {
			color: var(--color-black);
			background-color: var(--color-grey);
		}

		&:first-child {
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}

		&:last-child {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}

		&:not(:first-child) {
			border-left-width: 0;
		}
	}
}