:root {
	--color-blue: #005baa;
	--color-blue2: #e6eff7;
	--color-blue3: #b8cad5;
	--color-black: #333333;
	--color-grey: #f2f2f2;
	--color-grey1: #e0e0e0;
	--color-grey2: #bdbdbd;
	--color-grey3: #666666;
	--color-grey4: #828282;
	--color-red: #C5182D;
}