.custom-table {
	min-width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	--cellpadding: 8px 8px 7.5px 8px;

	&--big {
		--cellpadding: 10px 10px 8px 10px;
	}

	td,
	th {
		border: 1px solid var(--color-grey1);

		&:has(input:only-child) {
			width: 0;
		}
	}

	thead {
		text-align: left;
		background: var(--color-grey);

		th {
			padding: var(--cellpadding);
			font-size: 17px;
			font-weight: 400;
			line-height: 22px;

			@media (max-width: $mobile) {
				white-space: nowrap;
			}
		}
	}

	tbody {
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;

		td {
			padding: var(--cellpadding);
		}

		tr {
			transition: background-color var(--default-duration) ease;

			&:has(input:checked) {
				background-color: var(--color-blue2);
			}
		}
	}

	&--measure {

		td,
		th {
			&:nth-child(2) {
				width: 140px;
			}

			&:nth-child(3) {
				width: 87px;
			}

			&:nth-child(4) {
				width: 120px;
			}

			&:nth-child(5) {
				width: 60px;
			}

			&:nth-child(6) {
				width: 100px;
			}

			&:nth-child(7) {
				width: 100px;
			}

			&:nth-child(8) {
				width: 68px;
			}

			&:nth-child(9) {
				width: 81px;
			}

			&:nth-child(10) {
				width: 100px;
			}
		}
	}
}