.custom-checkbox {
	display: flex;
	align-items: center;
	gap: 12px;
	cursor: pointer;
	--size: 20px;

	input[type="checkbox"] {
		width: var(--size);
		height: var(--size);
		position: relative;
		appearance: none;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		user-select: none;
		border-width: 1px;
		border-style: solid;
		border-color: var(--color-grey1);
		transition: border-color var(--default-duration) ease;
		border-radius: 4px;
		background-color: #fff;
		cursor: pointer;

		&::before {
			content: '';
			color: #fff;
			opacity: 0;
			position: absolute;
			border-radius: inherit;
			@extend .icon, .icon--check;
		}

		&:hover,
		&:checked {
			border-color: var(--color-blue);
		}

		&:checked {
			background-color: var(--color-blue);

			&::before {
				opacity: 1;
			}
		}
	}
}