@font-face {
	font-family: "Segoe UI";
	src: url(/src/assets/static/font/SegoeUI.woff2);
	font-weight: 400;
	font-display: swap;
}

body,
input {
	font-family: "Segoe UI", sans-serif;

	@media screen and (max-width: $mobile) {}
}

a {
	color: inherit;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
	appearance: textfield;
}