.popup {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #00000080;
	padding-top: 64px;
	padding-bottom: 64px;
	overflow: auto;
	z-index: 666;
	pointer-events: none;
	opacity: 0;
	display: flex;

	&.is-initialized {
		transition: opacity var(--default-duration) ease;
	}

	&.is-active {
		pointer-events: auto;
		opacity: 1;
	}

	&__inner {
		margin-top: auto;
		margin-bottom: auto;
		// @extend .container;
		background-color: #fff;
	}
}