.slider-view {
	display: flex;
	--resize-delta: 0px;
	--resizer-width: 12px;
	flex-grow: 1;

	@media (max-width: $mobile) {
		flex-direction: column;
		gap: 24px;
	}

	&__left {
		overflow: auto;
		position: relative;
		flex: 1 1 calc(50% + var(--resize-delta) - var(--resizer-width) / 2);
		padding-right: 30px;
		padding-top: 16px;

		@media (max-width: $mobile) {
			padding-right: 0;
			padding-top: 0;
		}
	}

	&__right {
		overflow: auto;
		flex: 1 1 calc(50% - var(--resize-delta) - var(--resizer-width) / 2);
		padding-left: 30px;
		padding-top: 16px;

		@media (max-width: $mobile) {
			padding-left: 0;
			padding-top: 0;
		}
	}

	&__resizer {
		cursor: e-resize;
		flex: 0 0 var(--resizer-width);
		align-self: stretch;
		background-color: var(--color-grey);
		background-image: url(/src/assets/static/img/icon/resize.svg);
		background-repeat: no-repeat;
		background-position: center;

		@media (max-width: $mobile) {
			background-image: none;
			pointer-events: none;
		}
	}
}