.tabs {
	input:is(&__controller) {
		visibility: hidden;
		position: absolute;
		pointer-events: none;
	}

	&__control {
		&__visual {
			cursor: pointer;
			user-select: none;

			&:is(.tabs__controller:checked ~ &) {}

			&:is(.tabs__controller:not(:checked) ~ &) {}
		}
	}

	&__content {
		&__visual {
			&:is(.tabs__controller:checked ~ &) {}

			&:is(.tabs__controller:not(:checked) ~ &) {
				display: none;
			}
		}
	}
}