.tabs {
	&__controls {
		display: flex;
		overflow: auto;
		background: linear-gradient(0deg, var(--color-grey1), var(--color-grey1) 1px, transparent 1px);
	}

	&__control {
		padding: 8px 12px;
		border-width: 1px 1px 0 1px;
		border-style: solid;
		border-color: transparent;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		border-radius: 4px 4px 0 0;
		cursor: pointer;
		color: var(--color-blue);

		&.is-active {
			background-color: var(--color-grey);
			border-color: var(--color-grey1);
			color: var(--color-black);
		}
	}

	&__content {
		&:not(.is-active) {
			display: none;
		}
	}
}