<div class="equipment">
	<div class="equipment__header">
		<div class="equipment__breadcrumbs">
			<a href="" class="equipment__breadcrumbs__item"><span>Подстанции</span></a>
			<span class="equipment__breadcrumbs__step">></span>
			<span class="equipment__breadcrumbs__item"><span>ТЭЦ ПГУ ГСР Энерго</span></span>
		</div>
		<div class="button button--filled button--high">
			<span class="icon icon--save"></span>
			<span>Сохранить </span>
		</div>
	</div>
	<div class="equipment__tabs">
		<div class="tabs">
			<div class="tabs__controls">
				<div class="tabs__control">
					<span>Подстанция</span>
				</div>
				<div class="tabs__control is-active">
					<span>Оборудование</span>
				</div>
			</div>
			<div class="tabs__contents">
				<div class="tabs__content">Что-то еще</div>
				<div class="tabs__content is-active">
					<div class="equipment__content">
						<div class="equipment__view">
							<div class="buttongroup buttongroup--light buttongroup--wide">
								<div class="buttongroup__button is-active">
									<span>Список</span>
								</div>
								<div class="buttongroup__button">
									<span>Ведомость</span>
								</div>
							</div>
						</div>
						<div class="equipment__controls">
							<div class="custom-select-group">
								<div class="custom-select">
									<span>Тип </span>
									<select>
										<option>Трансформаторы</option>
										<option>Трансформаторы 2</option>
										<option>Трансформаторы 3</option>
									</select>
								</div>
								<div class="custom-select">
									<span>РУ </span>
									<select>
										<option>110</option>
										<option>111</option>
										<option>112</option>
									</select>
								</div>
							</div>
							<label class="toggler-checkbox toggler-checkbox--grey">
								<input type="checkbox">
								<span>Схема</span>
							</label>
						</div>
						<div class="equipment__table">
							<table class="custom-table custom-table--big">
								<colgroup>
									<col width="50%" />
									<col width="50%" />
								</colgroup>
								<thead>
									<tr>
										<th>
											<div class="custom-table__cell">
												<span>Наименование</span>
											</div>
										</th>
										<th>
											<div class="custom-table__cell">
												<span>U ном.</span>
											</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="custom-table__cell">
												<span> РТСН\НН-1 </span>
											</div>
										</td>
										<td>
											<div class="custom-table__cell">
												<span> 6</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="custom-table__cell">
												<span> РТСН\НН-2 </span>
											</div>
										</td>
										<td>
											<div class="custom-table__cell">
												<span> 6 </span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="custom-table__cell">
												<span>БТ1\НН-2 </span>
											</div>
										</td>
										<td>
											<div class="custom-table__cell">
												<span> 10.5</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="custom-table__cell">
												<span>БТ-1\ВН </span>
											</div>
										</td>
										<td>
											<div class="custom-table__cell">
												<span>110 </span>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>