<!DOCTYPE html>
<html lang="ru">
	<%- include('/head') %>

	<body>
		<%- include('/header') %>
		<main>
			<div class="container">
				<div class="slider-view">
					<div class="slider-view__left">
						<div class="equipment">
							<div class="equipment__header">
								<div class="equipment__breadcrumbs">
									<a href="" class="equipment__breadcrumbs__item"><span>Подстанции</span></a>
									<span class="equipment__breadcrumbs__step">></span>
									<span class="equipment__breadcrumbs__item"><span>ТЭЦ ПГУ ГСР Энерго</span></span>
								</div>
								<div class="button button--filled button--high">
									<span class="icon icon--save"></span>
									<span>Сохранить </span>
								</div>
							</div>
							<div class="equipment__tabs">
								<div class="tabs">
									<div class="tabs__controls">
										<div class="tabs__control">
											<span>Подстанция</span>
										</div>
										<div class="tabs__control is-active">
											<span>Оборудование</span>
										</div>
									</div>
									<div class="tabs__contents">
										<div class="tabs__content">Что-то еще</div>
										<div class="tabs__content is-active">
											<div class="equipment__content">
												<div class="equipment__view">
													<div class="buttongroup buttongroup--light buttongroup--wide">
														<div class="buttongroup__button is-active">
															<span>Список</span>
														</div>
														<div class="buttongroup__button">
															<span>Ведомость</span>
														</div>
													</div>
												</div>
												<div class="equipment__controls">
													<div class="custom-select-group">
														<div class="custom-select">
															<span>Тип </span>
															<select>
																<option>Трансформаторы</option>
																<option>Трансформаторыыыыыыы</option>
																<option>Трансформаторы 3</option>
															</select>
														</div>
														<div class="custom-select">
															<span>РУ </span>
															<select>
																<option>110</option>
																<option>111</option>
																<option>112</option>
															</select>
														</div>
													</div>
													<label class="toggler-checkbox toggler-checkbox--grey">
														<input type="checkbox">
														<span>Схема</span>
													</label>
												</div>
												<div class="equipment__table">
													<table class="custom-table custom-table--big">
														<colgroup>
															<col width="50%" />
															<col width="50%" />
														</colgroup>
														<thead>
															<tr>
																<th>
																	<div class="custom-table__cell">
																		<span>Наименование</span>
																	</div>
																</th>
																<th>
																	<div class="custom-table__cell">
																		<span>U ном.</span>
																	</div>
																</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>
																	<div class="custom-table__cell">
																		<span> РТСН\НН-1 </span>
																	</div>
																</td>
																<td>
																	<div class="custom-table__cell">
																		<span> 6</span>
																	</div>
																</td>
															</tr>
															<tr>
																<td>
																	<div class="custom-table__cell">
																		<span> РТСН\НН-2 </span>
																	</div>
																</td>
																<td>
																	<div class="custom-table__cell">
																		<span> 6 </span>
																	</div>
																</td>
															</tr>
															<tr>
																<td>
																	<div class="custom-table__cell">
																		<span>БТ1\НН-2 </span>
																	</div>
																</td>
																<td>
																	<div class="custom-table__cell">
																		<span> 10.5</span>
																	</div>
																</td>
															</tr>
															<tr>
																<td>
																	<div class="custom-table__cell">
																		<span>БТ-1\ВН </span>
																	</div>
																</td>
																<td>
																	<div class="custom-table__cell">
																		<span>110 </span>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="slider-view__resizer"></div>
					<div class="slider-view__right">
						<div class="measurement">
							<div class="measurement__title">
								<img src="/src/assets/static/img/doc.webp" alt="">
								<span>РТСН\НН-2</span>
							</div>
							<div class="measurement__controls">
								<div class="measurement__actions">
									<div class="button">
										<span class="icon icon--certificate"></span>
										<span>Проверить</span>
									</div>
									<div class="button">
										<span class="icon icon--block"></span>
										<span>Отменить проверку</span>
									</div>
									<div class="button">
										<span class="icon icon--edit"></span>
										<span>Редактировать</span>
									</div>
									<div class="button">
										<span class="icon icon--delete"></span>
										<span>Удалить</span>
									</div>
								</div>
								<div class="measurement__view">
									<div class="buttongroup buttongroup--light">
										<div class="buttongroup__button">
											<span class="icon icon--column"></span>
										</div>
										<div class="buttongroup__button is-active">
											<span class="icon icon--row"></span>
										</div>
									</div>
									<div class="buttongroup buttongroup--light">
										<div class="buttongroup__button">
											<span class="icon icon--expand"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="measurement__extra">
								<div class="measurement__status">
									<span class="measurement__status__bad">Нет</span>
									проверенных замеров
								</div>
								<label class="toggler-checkbox">
									<input type="checkbox" name="" id="">
									<span>Группировать по дате</span>
								</label>
							</div>
							<div class="measurement__table">
								<table class="custom-table custom-table--measure">
									<thead>
										<tr>
											<th>
												<div class="custom-table__cell">
													<div class="custom-checkbox">
														<input type="checkbox">
													</div>
												</div>
											</th>
											<th>
												<div class="custom-table__cell">
													<span>Дата</span>
												</div>
											</th>
											<th>
												<div class="custom-table__cell">
													<span>Время</span>
												</div>
											</th>
											<th>
												<div class="custom-table__cell">
													<span>Источник</span>
												</div>
											</th>
											<th>
												<div class="custom-table__cell">
													<span>Фаза</span>
												</div>
											</th>
											<th>
												<div class="custom-table__cell">
													<span>U, kB</span>
												</div>
											</th>
											<th>
												<div class="custom-table__cell">
													<span>I, A</span>
												</div>
											</th>
											<th>
												<div class="custom-table__cell">
													<span>P, MBt</span>
												</div>
											</th>
											<th>
												<div class="custom-table__cell">
													<span>Q, Mвар</span>
												</div>
											</th>
											<th>
												<div class="custom-table__cell">
													<span>cos φ</span>
												</div>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td colspan="10">
												<div class="custom-table__cell">
													<div class="measurement__table__add">
														<span class="icon icon--plus"></span>
														<span>Добавить новые замеры</span>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-table__cell">
													<div class="custom-checkbox">
														<input type="checkbox">
													</div>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>30.07.2022</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>10:15:23</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>Оператор</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>—</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> </span>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-table__cell">
													<div class="custom-checkbox">
														<input type="checkbox">
													</div>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>30.07.2022</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>10:15:23</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>Оператор</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>—</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> </span>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-table__cell">
													<div class="custom-checkbox">
														<input type="checkbox">
													</div>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>30.07.2022</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>10:15:23</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>Оператор</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> a</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> 1 </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>0.5 </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>3 </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> 0.7</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>0.67</span>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-table__cell">
													<div class="custom-checkbox">
														<input type="checkbox">
													</div>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>30.07.2022</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>10:15:23</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>SCADA</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>b</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>1 </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>0.6 </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>2.756 </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> 0.9</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>0.83 </span>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-table__cell">
													<div class="custom-checkbox">
														<input type="checkbox">
													</div>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>05.05.2022</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>10:15:23</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>АСКУЭ</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>c</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> 1.2</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>0.5 </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> 3.143</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>0.78 </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>0.67 </span>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-table__cell">
													<div class="custom-checkbox">
														<input type="checkbox">
													</div>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>05.05.2022</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>10:15:23</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>АСКУЭ</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>c</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> 1.2</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>0.5 </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> 3.143</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>0.78 </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>0.67 </span>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-table__cell">
													<div class="custom-checkbox">
														<input type="checkbox">
													</div>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>30.07.2022</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>10:15:23</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>SCADA</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>b</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>1 </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>0.6 </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>2.756 </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> 0.9</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>0.83 </span>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="custom-table__cell">
													<div class="custom-checkbox">
														<input type="checkbox">
													</div>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>05.05.2022</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>10:15:23</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>АСКУЭ</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>c</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> 1.2</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>0.5 </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span> 3.143</span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>0.78 </span>
												</div>
											</td>
											<td>
												<div class="custom-table__cell">
													<span>0.67 </span>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<%- include('/footer') %>
	</body>

</html>