<div class="popup" data-popup-is-active data-popup="popup__add">
	<div class="popup__inner" data-popup-inner>
		<form class="table-form">
			<label class="table-form__item">
				<input type="date">
			</label>
			<label class="table-form__item">
				<input type="time">
			</label>
			<label class="table-form__item">
				<input type="text" placeholder="Источник">
			</label>
			<label class="table-form__item">
				<input type="text" placeholder="Фаза">
			</label>
			<label class="table-form__item">
				<input type="text" placeholder="U, kB">
			</label>
			<label class="table-form__item">
				<input type="text" placeholder="I, A">
			</label>
			<label class="table-form__item">
				<input type="text" placeholder="P, MBt">
			</label>
			<label class="table-form__item">
				<input type="text" placeholder="Q, Mвар">
			</label>
			<label class="table-form__item">
				<input type="text" placeholder="cos φ">
			</label>
			<div class="table-form__footer">
				<button type="submit">добавить</button>
				<button type="reset">сбросить</button>
			</div>
		</form>
	</div>
</div>