<header class="header">
	<div class="container">
		<div class="header__inner">
			<div class="header__logo">
				<img src="assets/static/img/logo.svg" alt="">
			</div>
			<div class="header__title">
				<span>Контрольные замеры</span>
			</div>
			<div class="header__nav">
				<div class="buttongroup buttongroup--high">
					<a href="" class="buttongroup__button is-active">
						<span class="icon icon--timeline"></span>
						<span>Замеры</span>
					</a>
					<a href="" class="buttongroup__button">
						<span class="icon icon--document"></span>
						<span>Отчеты</span>
					</a>
					<a href="" class="buttongroup__button">
						<span class="icon icon--case"></span>
						<span>Сервис</span>
					</a>
				</div>
			</div>
			<div class="header__view">
				<div class="buttongroup buttongroup--medium">
					<div class="buttongroup__button">
						<span class="icon icon--column1"></span>
					</div>
					<div class="buttongroup__button is-active">
						<span class="icon icon--row1"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>